/* global */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  height: auto;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* comtainer */
.container {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1300px;
}

/* body */
.body {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr 100px;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  gap: 50px 20px;

  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #011627;
}

.body__header {
  grid-area: header;
}

.body__main {
  grid-area: main;
  margin: 20px 0;
}

.body__aside {
  grid-area: aside;
}

.body__footer {
  grid-row-start: -1;
  grid-area: footer;
}

/* link */

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* header */

.header {
  height: auto;
  border-bottom: 2px solid #09814a;
}

/* main-nav */

.main-nav {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.main-nav__logo {
  margin: 0 40px 0 0;
  padding: 0;
}

.main-nav__toggle {
  display: none;
}

.main-nav__logo-img {
  width: 200px;
}

.main-nav__menu {
  margin: 0;
  padding: 0;
  justify-self: flex-end;
}

/* site-list */

.site-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}

.site-list__item {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.site-list__item:last-child {
  margin-right: 0px;
}

.site-list__item::after,
.site-list__item::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #000;
  transition: 0.5s ease-in-out;
}

.site-list__item_active::after,
.menu-column__item_active::after {
  background-color: #d42110;
}

.site-list__item:hover::after,
.site-list__item:hover:after {
  width: 100%;
}

.site-list__item_active,
.menu-column__item_active {
  color: #d42110;
}

/* section */

.section__title {
  margin: 0 0 20px;
}

/* section-title */

.section-title {
  font-weight: bold;
  font-size: 34px;
}

/* section-subtitle */

.section-subtitle {
  font-weight: 300;
  font-size: 24px;
}

/* section-text */

.section-text {
  text-align: justify;
}

/* catalog */

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.catalog__card {
  margin-top: 15px;
}

/* card */

.card {
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.card__card:first-child {
  margin-top: 0;
}

.card__title {
  font-weight: 600;
  font-size: 14px;
  margin: 20px 0 5px;
  text-align: center;
}

.card__img {
  order: -1;
  width: 70%;
  height: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.card__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 2;
  color: #09814a;
  transition: 0.5s ease-in-out;
}

.card__link:hover {
  border-bottom: 1px solid #09814a;
}

/* list */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* editions-list */

.editions-list {
  list-style-position: inside;
  list-style-image: url(/img/icons/pdf-icon.svg);
}

.editions-list__item {
  padding: 5px 0;
}

/* events */

.events {
  padding-top: 70px;
}

/* events-list */

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  gap: 20px;
}

.events-list__item {
  width: 100px;
  height: 100px;
}

/* aside */

.aside__banners {
  position: sticky;
  top: 20px;
  /* display: flex; */
  flex-direction: column;
}

/* banners */

.banners__item {
  margin-top: 20px;
  width: 200px;
  height: auto;
}

.banners__item:first-child {
  margin-top: 0;
}

/* btn-up */

.btn-up {
  position: fixed;
  right: 20px;
  bottom: 100px;
  height: 50px;
  width: 50px;
  border: none;
  background-image: url(../img/icons/arrow-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
}

.btn-up__link {
  z-index: 100;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* footer */

.footer {
  width: 100%;
  background: #011627;
  opacity: 0.5;
  padding: 5px;
}

.footer .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

.footer__copyright {
  margin: 0;
}

.footer-contacts {
  line-height: 0;
}

/* all-articles */

.all-articles__filters {
  margin: 5px 0 50px 0;
}

/* filters */

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filters.no-js {
  display: none;
}

.filters__label {
  margin: 0 30px 0 0;
  font-weight: 600;
  font-size: 18px;
}

/* category-filter */

.category-filter {
  width: 300px;
  height: 28px;
  background: #ffffff;
  border: 1px solid rgba(1, 22, 39, 0.5);
  border-radius: 10px;
  font-weight: 300;
  font-size: 18px;
  color: #011627;
}

/* articles-catalog */

.articles-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 20px;
}

/* article-card */

.article-card {
  height: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
}

.article-card__link {
  background: transparent;
}

.article-card__link:hover .article-card__btn {
  visibility: visible;
}

.article-card__category {
  margin: 0;

  align-self: start;
  justify-self: start;

  grid-area: cat;
}

.article-card__title {
  align-self: center;
  grid-area: title;
}

.article-card__img {
  align-self: end;
  justify-self: center;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;

  grid-area: img;
}

.article-card__img_small {
  width: 50%;
}

.article-card__meta {
  align-self: start;

  grid-area: meta;
}

.article-card__meta-author {
  margin: 0;
}

.article-card__text {
  grid-area: text;
}

.article-card__btn {
  visibility: hidden;
  grid-area: btn;

  align-self: end;
  justify-self: end;
  margin-bottom: 10px;
}

/* card-container */

.card-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  grid-template-areas:
    "cat ."
    "img img"
    "title title"
    "meta ."
    "text text"
    "btn btn";
}

/* article-category */

.article-category {
  padding: 5px 0;
  border-bottom: 1px solid #09814a;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #09814a;
}

/* card-title */

.card-title {
  font-size: 22px;
  font-weight: 700;

  text-align: justify;
}

/* meta-data */

.meta-data {
  font-size: 16px;
  font-weight: 600;
}

/* article-description */

.article-descripton {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

/* read-more-btn */

.read-more-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #d42110;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  cursor: pointer;
}

/* big-article */

.big-article {
  padding: 0 0 30px;

  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

/* back-btn */

.back-btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  border: none;
  font-size: 18px;
  color: #09814a;
  padding-left: 40px;

  background: url("/img/icons/arrow-back.svg") no-repeat 0 52%;
  background-size: 37px 10px;
}

/* big-article */

.big-article {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.big-article__title {
  margin-top: 20px;
}

.big-article__text {
  margin-top: 0;
}

.big-article__text_bold {
  font-weight: 700;
}

.big-article__picture {
  margin: 30px 0;
}

.big-article__img {
  margin: 10px 0;
}

.big-article__table {
  margin-top: 30px;
}

.big-article__list,
.big-article__num-list {
  justify-self: start;
}

.big-article__meta {
  width: 50%;
  justify-self: end;
  font-weight: 600;
  line-height: 1.6;
}

/* article-title */

.article-title {
  text-transform: uppercase;
  font-size: 22px;
  border-bottom: 2px solid #011627;
}

/* article-subtitle */

.article-subtitle {
  font-size: 18px;
  justify-self: start;
}

/* picture */

.picture__description {
  font-weight: 300;
}

.picture__description_small {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  width: 40%;
}

.picture__title {
  font-weight: 300;
  font-size: 24px;
}

/* table */

.table {
  border: 1px solid rgba(1, 22, 39, 0.5);
}

.table__title {
  font-weight: 500;
}

.table td,
th {
  padding: 5px;
  border: 1px solid rgba(1, 22, 39, 0.5);
}

@media screen and (max-width: 1000px) {
  img {
    width: 100%;
  }

  .big-article__img_small {
    width: 50%;
  }

  .container {
    padding: 0 30px;
  }

  .article-card__btn {
    visibility: visible;
      }
}

@media screen and (max-width: 768px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 50px;
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    gap: 5px;
  }

  .site-list__item::after {
    display: none;
  }

  .section__title {
    margin: 10px 0;
  }

  .section-title {
    font-size: 20px;
  }

  .section-subtitle {
    font-size: 20px;
  }

  .aside__banners {
    /* display: grid; */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    margin: 10px 0 0 0;
    padding: 0;
  }

  .banners__item {
    width: 150px;
    height: 100px;
    box-sizing: border-box;
    margin: 0;
  }

  .btn-up {
    width: 30px;
    height: 30px;
    bottom: 50px;
    right: 0;
  }

  .footer .container {
    font-size: 10px;
  }

  .articles-catalog_column {
    grid-template-columns: 1fr;
  }

  .card-title {
    font-size: 18px;
  }

  .big-article__text {
    line-height: 1.3;
  }

  .big-article__meta {
    line-height: 1.1;
    font-size: 14px;
  }

  .article-subtitle {
    line-height: 1.3;
  }
}

@media screen and (max-width: 520px) {
  .body {
    line-height: 1;
  }

  .container {
    padding: 0 10px;
  }

  .main-nav {
    display: block;
  }

  .main-nav_opened .main-nav__menu {
    position: absolute;
    z-index: 100;
    height: auto;
    top: 67px;
    right: 7px;
    width: auto;
    background-color: #ffffff;
    color: #000;

    padding: 5px 50px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
  }

  .main-nav__toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
  }

  .main-nav_closed .main-nav__menu {
    display: none;
  }

  .main-nav.no-js .main-nav__toggle {
    display: none;
  }

  .main-nav_closed .toggle__bar::before {
    top: -6px;
  }

  .main-nav_closed .toggle__bar::after {
    top: 6px;
  }

  .main-nav_opened .toggle__bar {
    transform: rotate(45deg);
  }

  .main-nav_opened .toggle__bar::before {
    transform: rotate(90deg);
    right: 0;
    top: 0;
  }

  .main-nav_opened .toggle__bar::after {
    display: none;
  }

  .toggle__bar {
    display: block;
    position: relative;
    right: 7px;
  }

  .toggle__bar:after,
  .toggle__bar:before {
    position: absolute;
    content: "";
    right: 0;
  }

  .toggle__bar,
  .toggle__bar::after,
  .toggle__bar::before {
    background-color: #011627;
    border-radius: 3px;
    width: 20px;
    height: 2px;
  }

  .site-list__item {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  .site-list__item:first-child {
    margin-top: 0px;
  }

  .site-list__item:hover::after {
    width: 100%;
  }

  .events {
    padding-top: 50px;
  }

  .article-title {
    font-size: 14px;
  }

  .table {
    font-size: 10px;
  }
}
